<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin>
    <extension point="org.knime.workbench.repository.categories">
        <category description="Empty for now" icon="com/rationalinsights/rationalinsights_icon.png" level-id="rationalinsights" name="Rational Insights" path="/"/>
    </extension>
    <extension point="org.knime.workbench.repository.nodes">
    </extension>
</plugin>
